.input-container {
  width: 85%;
  max-width: 300px;
  

  .input-content {
    width: 100%;
    max-width: 300px;
    border-radius: 5px;
    padding: 0.5rem 0;
    opacity: 0.8;
    background-color: rgb(240, 158, 212);


    button {
      cursor: pointer;
      background: none;
      width: 100%;
      padding: 0.5rem;
      border: none;
      margin: auto;
      text-align: left;
      font-size: 1.2vw;

    }

    &:hover {
      background-color: rgb(223, 243, 240);
    }
  }
}
